services:
  app:
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 2g

  db:
    deploy:
      resources:
        limits:
          cpus: "0.7"
          memory: 1g
